#
# Core
#
alias c='clear'
alias q='exit'
alias reload='exec $SHELL'

alias cp='cp -i'
alias mv='mv -i'
alias mkdir='mkdir -pv'

alias l='ls -1A --color=auto'
alias ll='ls -lh --color=auto'
alias la='ll -A --color=auto'

alias ..='cd ..'

alias grep='grep --color=auto'

#
# Languages
#
alias rocknroll='$HOME/.dotfiles/bin/rocknroll'
alias brewroll='brew update && brew upgrade --all && brew cask update && brew cask cleanup && brew cleanup'
alias rubyroll='gem update --system && gem update && gem cleanup'
alias phproll='composer self-update --clean-backups && composer update'
alias noderoll='npm update -g'
alias pythonroll='pip install -U setuptools pip fabric'

#
# Fixes
#
alias composer='nocorrect composer'

#
# Git
#
alias gst='git status -sb'
alias gpp='git pull --prune'
alias gpf='git push --force'

#
# Useful
#
alias top_process='ps -eo pcpu,pid,user,args | sort -k 1 -r | head -5'
alias whatsmyip='curl https://diagnostic.opendns.com/myip'
alias flushcache='dscacheutil -flushcache && killall -HUP mDNSResponder'
alias flushterminal='sudo rm /var/log/asl/*.asl'
