#!/usr/bin/env zsh

symlink-dotfiles() {
  echo '--> Symlinking dot files'
  for dotfile in "${HOME}"/.dotfiles/.{aliases,functions,gemrc,gitconfig,gitignore_global,zprofile,zlogout,zshrc}; do
    ln -sf "$dotfile" "${HOME}/${dotfile:t}" 2> /dev/null
  done
}

compresspdf() {
  echo '--> Compressing PDF'
  /usr/local/bin/gs -sDEVICE=pdfwrite -dCompatibilityLevel=1.4 -dPDFSETTINGS=/"${3:-'screen'}" -dNOPAUSE -dQUIET -dBATCH -sOutputFile="$1 $2"
}

d4m() {
  unset DOCKER_HOST
  export DOCKER_HOST=unix:///var/run/docker.sock
}
